:root {
  --white_color: #fff;
  --red_color: #EF2C40;
  --green_color: #50D970;
  --purple_color: #935CFF;
  --dark_blue_color: #272A43;
  --dark_gray_color: #646678;
  --light_gray_color: #B1B2BB;
  --faint_gray_color: #C9CED1;
  --fainter_gray_color: #F7F8F9;
}